/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Merriweather Sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

a:link {
	color: #12A1D6;
}

.mockup-container {
	width: 16.5em;
	overflow: hidden;
	padding: 0 0;
	margin: 0 auto;
}

.modal {
	margin: 0 auto;
	background: #424242;
	position: relative;
	border-radius: 3px;
	height: 3.5em;
	width: 20.5em;
	color: white;
	font-size: 0.8em;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .modal:after {
	content:'';
	position: absolute;
	right: 30px;
	bottom: -6px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #424242 transparent transparent transparent;
  }

.progress-bar {
	overflow: hidden;
	height: 0.8em;
	background-color: #FAFAFA;
	margin: 0.5em auto 0;
}

.progress {
	width: 0;
	height: 100%;
	background-color: #EF5F3C;
}

.border {
	border: 1px solid #DCDCDC;
}

.donate-body {
	padding: 1em;
	border-top: none;
}

p.donate-p {
	font-size: 0.7em;
	color: #777;
	padding-bottom: 1em;
}

.donate-body span {
	color: #F15E33;
	font-weight: bold;
}

a.donate-a {
	text-decoration: none;
	font-style: italic;
	font-size: 0.7em;
}

.donate-form {
	display: flex;
	justify-content: space-between;
	margin: 0.2em auto;
}

.donate-form input[type=text] {
	color: #424242;
	display: inline-block;
	padding: 0.7em 0.4em;
	border-radius: 4px;
	font-weight: bold;
	font-size: 1em;
	width: 6.5em;	
}

.donate-form input[type=submit] {
	display: inline-block;
	padding: 1em 1.5em 0.7em;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
	background-color: #00BE1B;
	border: none;
	border-bottom: 2px solid #01B21A;
}

.action-buttons {
	display: flex;
	justify-content: space-between;
	margin: 0.8em auto;
}

a.action-a {
	text-decoration: none;
	font-size: 0.7em;
	color: #777;
	font-weight: bold;
	border-bottom: 2px solid #DCDCDC;
	width: 11.2em;
	height: 3em;
	text-align: center;
	border-radius: 2px;
	line-height: 3em;
}
